* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #f2f2f2;
}

.head {
	margin-top: 21px;
	margin-left: 137px;
	width: 32px;
	height: 13px;
	font-weight: 700;
	font-size: 11px;
	display: inline-block;
	vertical-align: top;
	font-family: "Roboto", sans-serif;
   
}

#wre {
	width: 32px;
	height: 32px;
	margin-top: 11px;
	margin-left: 49px;
	border-radius: 50%;
	display: inline-block;
	object-fit: cover;
	vertical-align: top;
}

nav {
	position: fixed;
	top: 0px;
	width: 1440px;
	height: 60px;
	background-color: #f2f2f2;
	z-index: 20;
}

#tranding {
	width: 120px;
	height: 28px;
	font-size:24px;
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	margin-top: 102px;
	margin-bottom: 27px;

}

header {
	padding-left: 138px;
	padding-right: 138px;
}

.box {
	width: 362px;
	height: 357px;
	background-color: #FFFFFF;
	display: inline-block;
	margin-right: 40px;
	border-radius: 5px;
	position: relative;
}

.boximg {
	width: 362px;
	height: 186px;
	position: absolute;
	border-radius: 5px 5px 0px 0px
}

.tx {
	width: 184px;
	height: 23px;
	font-weight: 700;
	font-size: 20px;
	color: #FFFFFF;
	font-family: "Roboto", sans-serif;
	position: absolute;
	z-index: 10;
	padding-left: 41px;
	padding-top: 32px;
}

.text {
	width: 238px;
    height: 36px;
    font-weight: 700;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    color: #8A8787;
    line-height: 200%;
    padding-left: 37px;
    padding-top: 253px;
    position: absolute;
}

.clock {
	width: 16px;
	height: 16px;
	position: absolute;
	padding-left: 40px;
	padding-top: 301px;
	margin-top: 11px;
	display: inline-block;
	vertical-align: top;
}

 .span {
	width: 34px;
	height: 12px;
	font-weight: 700;
	font-size: 10px;
	font-family: "Roboto", sans-serif;
	color: #8A8787;
	position: absolute;
	padding-left: 67px;
	padding-top: 301px;
	margin-top: 11px;
	vertical-align: top;
}

main > h1 {
	width: 196px;
	height: 28px;
	font-family: "Roboto", sans-serif;
	font-weight: 800;
	font-size: 24px;
	margin-top: 57px;
	margin-left: 140px;
}


#photos  img {
	width: 758px;
	height: 430px;
	margin-top: 30px;
	border-radius: 5px;
}

#photos1 img {
	width: 362px;
	height: 212px;
	margin-bottom: 98px;
	border-radius: 5px;
}

#photos {
	display: inline-block;
	width: 758px;
	height: 902px;
	margin-left: 138px;
	vertical-align: top;
}

#photos1 {
	display: inline-block;
	width: 362px;
	height: 832px;
	margin-left: 45px;
	margin-top: 30px;
	margin-bottom: 101px;
	vertical-align: top;
}


#foot {
	width: 1519px;
	height: 201px;
	background-color: #243043;
	box-sizing: border-box;
	position: relative;
}

.bolo  {
	color: #818687;
	font-weight: 700;
	font-size: 12px;
	font-family: "Roboto", sans-serif;
	margin-top: 14px;
}

#span1 {
	width: 54px;
	height: 98px;
	display: inline-block;
    padding-top: 45px;
    padding-bottom: 44px;
    padding-left: 137px;
    vertical-align: top;
}

#span2 {
	width: 51px;
	height: 98px;
	display: inline-block;
    padding-top: 45px;
    padding-bottom: 44px;
    padding-left: 75px;
    vertical-align: top;
}

#span3 {
	width: 70px;
	height: 98px;
	display: inline-block;
    padding-top: 45px;
    padding-bottom: 44px;
    padding-left: 100px;
    vertical-align: top;
}

#last {
	width: 249px;
	height: 14px;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 12px;
	font-family: "Roboto", sans-serif;
	margin-left: 112px;
	padding-top: 59px;
	position: absolute;
	vertical-align: top;
}

#owl {
	width: 38px;
	height: 40px;
	padding-top: 58px;
	margin-left: 777px;
	vertical-align: top;
	position: absolute;
}